@model ThirdSemesterProject.WebSite.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/BaseLayout.css" />
</head>

<h1>Cart</h1>
   @if (Model == null || Model.ProductQuantities.Count == 0)
    {
        <div class="row">
            <div class="col-12 text-center">
                <h3>Cart is empty</h3>
            </div>
        </div>
    } else 
    {
         @foreach (var keyvalue in Model.ProductQuantities)
        {
            <div class="row" style="padding-top:2px;">
                <div class="col-6">
                    @{ProductQuantity productQuantity = @keyvalue.Value;}
                    @productQuantity.Quantity @(productQuantity.Name)(s)
                    at $@productQuantity.Price each
                </div>
                <div class="col-3">
                    total $@productQuantity.GetTotalPrice()
                    </div>
                <div class="col-3">
                    <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = @productQuantity.Id, quantity=-1, returnToCart = true})" title="remove one">-1</a>
                <a class="btn btn-primary" href="@Url.Action("Add", "Cart", new { id = @productQuantity.Id, quantity=1, returnToCart = true})" title="add one">+1</a>
                <a class="btn btn-danger" href="@Url.Action("EmptyCart", "Cart", new { id = @productQuantity.Id})" title="delete product"><span class="bi-trash"></span>🗑</a>

                </div>
            </div>
        }
    
    <p></p>
    <h3 class="display-6">Total: $@Model.GetTotal()</h3>
    <a class="btn btn-danger" href='@Url.Action("EmptyCart", "Cart")'>Empty entire cart <span class="bi bi-trash"></span></a>
    <a class="btn btn-success" href='@Url.Action("Create", "Cart")'>Go to checkout <span class="bi bi-credit-card"></span></a>
    }
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
