@model IEnumerable<ThirdSemesterProject.APIClient.DTOs.SaleOrderDTO>

@{
    ViewData["Title"] = "SaleOrders";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/BaseLayout.css" />
</head>

<h1>SaleOrders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                    <a class="btn-sm btn-primary" href="@Url.Action("Details", "SaleOrders", new { id = item.SaleOrderId })">
                        Details
                        <span class="bi-cart-plus" style="margin-left:0px;"></span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
