@model IEnumerable<ThirdSemesterProject.APIClient.DTOs.SaleOrderDTO>

@{
    ViewData["Title"] = "SaleOrders";
}

<h1>SaleOrders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                <p>
                    Product Name
                </p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
            @foreach (var orderline in item.OrderLines)
            {
            <td>
                    @Html.DisplayFor(modelItem => orderline.ProductDTO.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => orderline.Quantity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => orderline.UnitPrice)
            </td>
                
            }
        }
    </tbody>
</table>
